<footer>
{{ with .Site.Copyright }} {{ . | markdownify }} {{ end }}

{{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
<br/>
<!--
// at the moment, this is under maintenance
I use <a href="https://plausible.io/data-policy">Plausible (Selfhosted)</a> a cookie-free, privacy-focused analytics tool for better understanding my readers demography.
-->
I use <a href="https://developers.cloudflare.com/fundamentals/data-products/about-analytics/">Cloudflare Analytics </a> (for the time). Hit me up on twitter if you want any of your data to be removed.
</footer>
