<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main>
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
<a href="https://twitter.com/this_is_tckb?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
    data-show-count="false">Follow @this_is_tckb</a>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4005d9a0f5834465a2559808fdd542ca"}'></script>
<!-- End Cloudflare Web Analytics -->
</body>
</html>
